:root {
  --heading-font: "Poppins", sans-serif;
  --main-font: "Open Sans", sans-serif;
  --fist-color: #ef233c;
  --second-color: #d90429;
  --third-color: #ffc300;
  --fourth-color: #ffd60a;
  --text-color: #d6d6d6;
}

* {
  font-family: var(--heading-font);
  font-weight: 600;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  z-index: 5;
}

body {
  background-color: black;
  color: var(--text-color);
  overflow: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  text-align: end;
}
ul {
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
  height: 100vh;
}

/* bubles */
.bubbles {
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 0;
  filter: blur(30px);
  filter: opacity(20%);
}
.bubbles span {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #ffd60a;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px #ffc300, 0 0 50px #ffd60a, 0 0 100px #ffe048;
  animation: animate 15s linear infinite;
  animation-duration: calc(160s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: #ef233c;
  box-shadow: 0 0 10px #d90429, 0 0 50px #ef233c, 0 0 100px #f75b6e;
}
.bubbles span:nth-child(5n-1) {
  background-color: green;
  box-shadow: 0 0 10px rgb(0, 151, 0), 0 0 50px rgb(21, 182, 21),
    0 0 100px rgb(71, 228, 71);
}
/* animate */
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

/* animate */
/* bubles */

/* navbar */
.navbar {
  width: 100%;
  position: fixed;
}
.logo a{
  display: flex;
  color: var(--third-color);
  align-items: center;
}
.logo i{
  font-size: 36px;
}
.logo p{
  font-weight: 600;
  font-size: 16px;
}
.navbar .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}
.navbar .navlink ul {
  display: flex;
  gap: 50px;
}
.navlink a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  position: relative;
}
.navlink .active {
  color: white;
}
.navlink .active::after {
  width: 105%;
}

/* hover */
.navlink a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--fourth-color);
  left: 0;
  bottom: -5px;
  transition: 0.3s ease;
  border-radius: 2px;
}
.navlink a:hover {
  color: white;
}
.navlink a:hover:after {
  width: 105%;
  transition: 0.3s ease;
}
/* hover */
/* navbar */

/* hero */
.hero-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 200px;
  justify-items: right;
}

.hero-wrapper h1:nth-child(1) {
  font-size: 34px;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--text-color);
}
.hero-wrapper h1:nth-child(2) {
  font-family: var(--heading-font);
  font-size: 80px;
  font-weight: 700;
  color: var(--third-color);
  --animate-delay: 0.5s;
}

.hero-wrapper .desc {
  margin-top: 20px;
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 400;
  width: 90%;
  margin-bottom: 70px;
}
.hero-wrapper .btn-home {
  color: var(--text-color);
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--second-color);
  border: none;
  box-shadow: 0px 0px 15px #ef233c;
  --animate-delay: 1.5s;
}
.hero-wrapper .btn-home:hover {
  background-color: var(--fist-color);
  color: white;
  box-shadow: 0px 0px 20px #ef233c;
}
.content-right .box-img {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: right;
}
.content-right img {
  width: 85%;
  border-radius: 60% 8px 8px;
  transition: 0.8s ease-in-out;
  --animate-duration: 1800ms;
}

.content-right img:hover {
  transform: translate(-20px, -10px);
  transition: 0.6s ease-in-out;
}

/* hero */

/* @media screen and (min-width:1300px) {
  .container{
      width: 1300px;
  }
  
} */
