:root {
  --heading-font: "Poppins", sans-serif;
  --main-font: "Open Sans", sans-serif;
  --fist-color: #ef233c;
  --second-color: #d90429;
  --third-color: #ffc300;
  --fourth-color: #ffd60a;
  --text-color: #d6d6d6;
}

* {
  font-family: var(--heading-font);
  font-weight: 600;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  z-index: 5;
}

body {
  background-color: black;
  color: var(--text-color);
  scroll-behavior: smooth;

}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  text-align: end;
}
ul {
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 100px 0px;
}

/* bubles */
.bubbles {
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 0;
  filter: blur(30px);
  filter: opacity(20%);
      backdrop-filter: blur(3px);
}
.bubbles span {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #ffd60a;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0 0 20px #ffc300, 0 0 50px #ffd60a, 0 0 100px #ffe048;
  animation: animate 15s linear infinite;
  animation-duration: calc(160s / var(--i));

}

.bubbles span:nth-child(even) {
  background-color: #ef233c;
    width: 16px;
  height: 16px;
  box-shadow: 0 0 10px #d90429, 0 0 50px #ef233c, 0 0 100px #f75b6e;
    border-radius: 0%;
}
.bubbles span:nth-child(5n-1) {
  background-color: green;
  width: 20px; height: 20px; 
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  box-shadow: 0 0 10px rgb(0, 151, 0), 0 0 50px rgb(21, 182, 21),
    0 0 100px rgb(71, 228, 71);
}
/* animate */
@keyframes animate {
  0% {
    transform: translateY(900px) scale(0) rotate(360deg);
  }
  100% {
    transform: translateY(-10px) scale(1) rotate(2deg);
  }
}

/* animate */
/* bubles */

/* navbar */
.navbar {
  width: 100%;
  position: fixed;
  z-index: 99;
    background-color: black;
}
.logo a{
  display: flex;
  color: var(--third-color);
  align-items: center;
}
.logo i{
  font-size: 36px;
}
.logo p{
  font-weight: 600;
  font-size: 16px;
}

.navbar .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0px;

}
.navbar .navlink ul {
  display: flex;
  gap: 50px;
}
.navlink a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  position: relative;
}
.navlink .active {
  color: white;
}
.navlink .active::after {
  width: 105%;
}

/* hover */
.navlink a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--fourth-color);
  left: 0;
  bottom: -5px;
  transition: 0.3s ease;
  border-radius: 2px;
}
.navlink a:hover {
  color: white;
}
.navlink a:hover:after {
  width: 105%;
  transition: 0.3s ease;
}
/* hover */
/* navbar */

/* education */

.education-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  margin-bottom: 80px;
}
.title h1 {
  font-size: 28px;
  font-weight: 700;
  color: var(--third-color);
}
.title p {
  font-size: 14px;
  --animate-delay:0.5s;
}
.box-education {
  display: grid;
  width: 100%;
}
.box-wrapper:nth-child(1) {
  display: flex;
  padding-right: 20%;
  align-items: center;
  gap: 50px;
  background-color: #41414115;
  padding: 20px 40px 20px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #ffe0483b;
  backdrop-filter: blur(3px);
}
.box-wrapper:nth-child(2) {
  display: flex;
  justify-content: end;
  margin-top: 40px;
  padding-left: 20%;
  align-items: center;
  gap: 50px;
  background-color: #41414115;
  padding: 20px 20px 20px 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #ffe0483b;
    backdrop-filter: blur(3px);
    --animate-delay:1.5s;
}
img {
  width: 400px;
  border-radius: 8px;
}
.box-img {
  padding: 0;
  margin: 0;
  font-size: 0px;

}
.box-education h1 {
  font-size: 18px;
  color: var(--third-color);
  margin-bottom: 10px;
}
.box-education p {
  font-size: 12px;
  font-family: var(--main-font);
  font-weight: 400;
}
.lulus {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  color: var(--third-color);
}
.lulus i{
    color: var(--third-color);
    font-size: 20px;
}
.lulus p{
    font-weight: 600;
}
/* education */
